{% extends 'posts/base.html' %}
{% load static %}
{% block title %}Блог{% endblock title %}
{% block content %}
    <div class="home-page-wrapper infinite-container">
        {% for p in posts %}
        <div class="infinite-item">
            <div class="element">
                <h3>{{ p.title }}</h3>
                
            </div>
            <span class="creation-date element">{{ p.published }}</span>

            <div class="post-author-rating element">
                <span class="author">{{ p.author.username }}</span>
                {% with p.rating as rate %}
                    <span class="rating 
                        {% if rate > 10 %}
                            good
                        {% elif rate < 0 %}
                            bad
                        {% endif %}
                    ">★ {{ rate }}</span>
                {% endwith %}

            </div>
            <div class="post-body element">
                <span class="post-text">{{ p.body|truncatewords:50 }}</span>
            </div>
            <span class="last-modified-date element">Последнее изменение: {{ p.modified }}</span>
            
        </div>
        {% endfor %}
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %}
    </div>

    <div class="loading" style="display: none;">Loading</div>

    <script src="{% static 'posts/js/jquery.waypoints.min.js' %}"></script>
    <script src="/static/posts/js/infinite.min.js"></script>

    

    <script>
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],

          offset: 'bottom-in-view',

          onBeforePageLoad: function () {
            $('.loading').show();
          },

          onAfterPageLoad: function () {
            $('.loading').hide();
          }
        });
      </script>
{% endblock content %}